 <% messages.forEach(message => { %>
 
 <div class="user-name"><%= message.firstname%> <%=message.lastname%></div>
            <div class="created-on">Date: <%=message.created%></div>

            <%})%>