<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <% if (locals.user) { %>
    <h3>Welcome <%=user.username %></h3>
    <%}%>
    <a href="/login-form">Member login</a>
    <a href="/sign-up-form">Sign up</a>
</body>
</html>