
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upgrae to member</title>
</head>
<body>
    <div class="member-upgrade">
    <form action="/upgrade-to-member" method="POST">
        <label for="memberPassword">Enter the secret password to be upgraded to 'Member'</label>
        <input type="text" name="memberPassword" id="memberPassword">
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>