<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (locals.user) {%>
        <h3>Welcome back <%=user.firstname %></h3>
    <%} else if (locals.firstname) {%>
    <h3>Welcome <%=firstname%> 2nd</h3>
    <% } else {%>
        <h3>You can't be here</h3>
    <% } %>
    <a href="/">Home</a>
    <% if(locals.user && locals.user.role_id >=2) { %>
    <a href="/members">Members only</a>
    <%}%>
     <% if(locals.user && locals.user.role_id >=3) { %>
    <a href="/admin">Admin</a>
    <%}%>
     <% if(locals.user && locals.user.role_id >=4) { %>
    <a href="/site-manager">Site management</a>
    <%}%>
    <a href="/logout">Logout</a>
</body>
</html>