table {

  border-collapse: collapse; 
  border: rgb(219, 219, 219) 1px solid;   
  box-shadow: 2px 2px 2px rgb(219, 219, 219);        
}

th, td {
  padding: 12px 15px;
  text-align: left;

}



tbody tr:nth-child(even) {
  background-color: #edf5f7;
}


tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:hover{
  background-color: rgb(199, 212, 230);
}

button{
  border: none;
  padding: .5rem;
  box-shadow: 1px 1px 2px rgb(189, 189, 189);
}

button:hover{
   background-color: white;
}

button:active{
  transform: translate(1px);
}

input{
  box-shadow: 1px 1px 1px rgb(189, 189, 189);;
  border: .1px solid rgb(189, 189, 189);;
  padding: .5rem;
}

input:hover, input:active{
  background-color: #edf5f7;
}

a{
  padding: 1rem;
  margin: 1rem;
}

nav{
  margin: 1rem;
}
