table {

  border-collapse: collapse; 
  border: rgb(219, 219, 219) 1px solid;   
  box-shadow: 2px 2px 2px rgb(219, 219, 219);        
}

th, td {
  padding: 12px 15px;
  text-align: left;

}



tbody tr:nth-child(even) {
  background-color: #edf5f7;
}


tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:hover{
  background-color: rgb(199, 212, 230);
}

form{
  padding: .5rem;
}

button{
  border: none;
  padding: .5rem;
  margin: 1rem;
  box-shadow: 1px 1px 2px rgb(189, 189, 189);
}

button:hover{
   background-color: white;
}

button:active{
  transform: translate(1px);
}

input, textarea{
  box-shadow: 1px 1px 1px rgb(189, 189, 189);;
  border: .1px solid rgb(189, 189, 189);;
  padding: .5rem;
  margin: 1rem;
}

input:hover, input:active{
  background-color: #edf5f7;

}

a{
  padding: 1rem 0;
  margin: 1rem;
}

nav{
  margin: 1rem;
}

label{display: block;}

.index-header{
  display: flex;
  justify-items: flex-start;
  align-items: baseline;
}

.role{
  padding-left: 2rem;
}

.messages-container{
  display: flex;
  flex-wrap: wrap;
}

.messages{
  padding: 1rem;
  border: .5px gray solid;
  width:fit-content;
  max-width: 30rem;
  margin: 1rem auto;

}

.message-post{
  padding: 1rem;
  background-color: antiquewhite;
  margin: 1rem;
}

.message-text{
  padding: 1rem;
}

.user-name{
  font-size: .8rem;
}

.created-on{
  font-size: .6rem;
  font-style: italic;
}

.new-message{
  margin: 1rem auto;
  padding: 1rem;
  border: .5px solid gray;
  height: fit-content;
}
